<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(model: [@user, @income], local: true) do |f| %>
  <div class="field mb-4">
    <%= f.label :amount, "金額", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.number_field :amount, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="field mb-4">
    <%= f.label :source, "収入源", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :source, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="field mb-4">
    <%= f.label :date, "日付", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.date_field :date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="actions">
    <%= f.submit "保存", class: "bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
